[submodule "dhruvsha256_blog/themes/hello-friend-ng"]
	path = dhruvsha256_blog/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "dhruvsha256_blog/public"]
	path = dhruvsha256_blog/public
	url = git@github.com:dhruvSHA256/dhruvsha256.github.io
	branch = main
[submodule "dhruvsha256_blog/themes/hello-friend"]
	path = dhruvsha256_blog/themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
